<h3>what is this?</h3>
<div>
    <p>
        This site is an example of how to create a simple todo list using Angular 2. I wanted to show basic CRUD functionality as
        well a simple routing and then compare and contrast this implementation to the same solution in Angular 1. Please
        note that this is just a simple implementation and there are many ways to do this (as is the case with all software).
        This is not meant to be a reference implementation.
    </p>
    <h3>why was it created?</h3>
    <p>the site was created in order to show the differences between building a simple todo list using Angular 1 and Angular
        2.<br/> You can see the Angular 1 version of the site <a href="https://github.com/aritzcovan/SimpleTodoAngular1">here</a>.</p>
</div>